{% extends "base.html" %}

{% block content %}
    <div class="text-center">
        {% if current_user.is_authenticated %}
            <h1>Welcome back, {{ current_user.username }}!</h1>
            <p>Discover and Share Your Favorite Books With Others.</p>
            <p>Leave a Review, Explore Books, or Manage Your Profile.</p>
            <a href="{{ url_for('dashboard') }}" class="btn btn-primary">Go to Dashboard</a>
        {% else %}
            <h1>Welcome to the Fedora Book App!</h1>
            <p>Discover and Share Your Favorite Books With Others.</p>
            <p>Please <a href="{{ url_for('login') }}">Log In</a> or <a href="{{ url_for('register') }}">Register</a> to get started.</p>
        {% endif %}
    </div>
{% endblock %}


