{% extends "base.html" %}

{% block content %}
<h2>Register</h2>
<form method="POST" action="{{ url_for('register') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {{ form.confirm.label }}<br>
        {{ form.confirm(size=32) }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}







<!-- {% extends 'base.html' %}

{% block content %}
    <h2>{{ Register }}</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="username">{{ form.username.label }}</label>
        {{ form.username }}
        <label for="password">{{ form.password.label }}</label>
        {{ form.password }}
        <label for="confirm_password">{{ form.confirm_password.label }}</label>
        {{ form.confirm_password }}
        <input type="submit" value="Register">
    </form>
{% endblock %} -->
